@use "../main.module.scss";

.parentContainer {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
    align-items: center;

    :global {
        .ant-select-single {
            height: 56px !important;
            width: 40%;
        }
    }

    .mainContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        margin: 0 18px;
        gap: 10px;

        .imageHolder {
            border-radius: 15px;
            background: linear-gradient(270deg, #931372 0%, #EA3E5C 100%);
            font-family: "Mikhak";
        }
    }
}

.submitBtn {
    width: 40%;
}

.meetButton {
    width: 90%;
}

.bottomTab {
    position: fixed;
    bottom: 0;
}

.modalButton {
    width: 40%;
    margin: 0 10px;
}

.myModal {
    :global {
        .ant-modal-title {
            text-align: center !important;
            font-family: "Mikhak";
        }
    }
}